@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Roboto+Slab:wght@900&display=swap');

.containerAuthroutes {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 10%;
}
.brand-logo{
  font-family:'Roboto Slab', serif;;
  font-weight: bold;
}
/* signup */
/* .main-title{
  background-image: url("./p5.jpg");
  width:600px;
  height:500px;
  margin-left:20px;
  background-repeat: no-repeat;
  background-size: cover;
} */
a{
  color: black !important;
}

.mycard{
  margin-top: 10px;
}
.auth-card{
  padding: 30px;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252)  !important;
}

#toast-container{
  top:80px !important;
  right: 20px !important;
  left: auto !important;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
  
}
.material-icons:hover{
  cursor: pointer;
}

/* card-content-symbols */
.card-content-symbols{
  display: flex;
  flex-direction: row;
  margin-left:3px;
}
.card-content-title{
  display: flex;
  flex-direction: column;
}



@media only screen and (max-width: 930px) {
  .containerAuthroutes {
    display: block;
  }
}

